
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.section__cuadrado{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 200px;
    width: auto;
}
.section__cuadrado h2{
    padding: 15px;
}
.section__cuadrado input{
    display: block;
    margin: 5px;
}

.section__triangulo{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 200px;
    width: auto;
}
.section__triangulo form{
    padding: 20px;
}

.section__triangulo input, label{
    display: block;
}

.section__circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section__circulo input , label{
    display: block;

}
.section__circulo form{
    padding: 20px;
}